10ms rag pipeline.json
{
  "name": "10ms rag pipeline",
  "nodes": [
    {
      "parameters": {
        "formTitle": "File Upload",
        "formDescription": "upload document and store in vector storage",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": "pdf,txt",
              "requiredField": true
            },
            {
              "fieldLabel": "Name",
              "placeholder": "File Name"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        140,
        0
      ],
      "id": "bce9d60d-8ae1-4417-baf2-f534918991af",
      "name": "On form submission",
      "webhookId": "3ad3c250-aa34-437d-8a41-a4a5ff0ffa8b"
    },
    {
      "parameters": {
        "jsCode": "const files = $input.all().at(0)?.binary;\nconst isFilesSent = typeof files === 'object' && Object.keys(files)?.length;\n\nif (isFilesSent) {\n  return { files };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "803710d9-26b6-4e98-995f-02e5d60dbe50",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "={{ $json.filename }}",
          "mimeType": "={{ $json.minetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        980,
        0
      ],
      "id": "5fe97849-0bf1-405e-9668-b742cee3fb49",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1200,
        0
      ],
      "id": "d7dfe813-2d2e-46f2-a250-aae148099edc",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "1dkFORGGfxm3ZCMl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1100,
        180
      ],
      "id": "5f90b345-e027-4df8-89ff-eb3bf3081647",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "PtGyTwGEANwEuFow",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1320,
        180
      ],
      "id": "120f4131-012c-4e29-b695-f480b2d0c2ae",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"data\": \"{{ $json.files.File.data }}\",\n  \"minetype\":\"{{ $json.files.File.mimeType }}\",\n\"filename\":\"{{ $json.files.File.fileName }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        0
      ],
      "id": "54ddf255-f7b5-4824-8e3b-4cdeba34cf58",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        600
      ],
      "id": "360f52b5-64a6-4522-8a31-a70e6fd859d8",
      "name": "When chat message received",
      "webhookId": "60d4a747-b798-4987-a9f0-630f8812df9f"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. your job is extract data from to Supabase_Vector tools based on the text give following answer. say sorry if don't fine any answer"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        420,
        600
      ],
      "id": "7aece984-fdc2-4bc6-8378-eaaaee4228f9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        280,
        840
      ],
      "id": "5987cd73-4fc2-450a-8bb2-5723db083785",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PtGyTwGEANwEuFow",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        840,
        980
      ],
      "id": "11b54a2e-2639-4a14-83cc-6698a8f7765e",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "PtGyTwGEANwEuFow",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "pull data from superbase",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        760,
        760
      ],
      "id": "526ae700-64f9-43ec-9acf-fc3d8fe24f44",
      "name": "Supabase_Vector",
      "credentials": {
        "supabaseApi": {
          "id": "1dkFORGGfxm3ZCMl",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase_Vector",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase_Vector": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8fa5c593-2910-429c-9884-d0101c89982b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "acfa3dfd54c69876bd4b8ae852516d72eeea49f9ee002eeea59e7616f9d7f9d2"
  },
  "id": "At9ehRjzTIxxluG9",
  "tags": []
}